BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

# Channel 0
LOCATE COMP "PWM_out[0]" SITE "PR13A" ;
IOBUF PORT "PWM_out[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[0]" SITE "PR10D" ;
IOBUF PORT "DIR_out[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[0]" SITE "PB20B" ;
IOBUF PORT "PWM[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[0]" SITE "PB15B" ;
IOBUF PORT "DIR[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 1
LOCATE COMP "PWM_out[1]" SITE "PR10B" ;
IOBUF PORT "PWM_out[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[1]" SITE "PR10C" ;
IOBUF PORT "DIR_out[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[1]" SITE "PB21B" ;
IOBUF PORT "PWM[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[1]" SITE "PB20A" ;
IOBUF PORT "DIR[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 2
LOCATE COMP "PWM_out[2]" SITE "PB13A" ;
IOBUF PORT "PWM_out[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[2]" SITE "PB10B" ;
IOBUF PORT "DIR_out[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[2]" SITE "PB23B" ;
IOBUF PORT "PWM[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[2]" SITE "PB21A" ;
IOBUF PORT "DIR[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 3
LOCATE COMP "PWM_out[3]" SITE "PB13B" ;
IOBUF PORT "PWM_out[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[3]" SITE "PB10A" ;
IOBUF PORT "DIR_out[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[3]" SITE "PB24A" ;
IOBUF PORT "PWM[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[3]" SITE "PB23A" ;
IOBUF PORT "DIR[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 4
LOCATE COMP "PWM_out[4]" SITE "PL17A" ;
IOBUF PORT "PWM_out[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[4]" SITE "PL16B" ;
IOBUF PORT "DIR_out[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[4]" SITE "PR15B" ;
IOBUF PORT "PWM[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[4]" SITE "PB24B" ;
IOBUF PORT "DIR[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 5
LOCATE COMP "PWM_out[5]" SITE "PL14B" ;
IOBUF PORT "PWM_out[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[5]" SITE "PL16A" ;
IOBUF PORT "DIR_out[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[5]" SITE "PR16A" ;
IOBUF PORT "PWM[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[5]" SITE "PB24D" ;
IOBUF PORT "DIR[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 6
LOCATE COMP "PWM_out[6]" SITE "PL13A" ;
IOBUF PORT "PWM_out[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[6]" SITE "PL10D" ;
IOBUF PORT "DIR_out[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[6]" SITE "PR16B" ;
IOBUF PORT "PWM[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[6]" SITE "PB27A" ;
IOBUF PORT "DIR[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 7
LOCATE COMP "PWM_out[7]" SITE "PR8B" ;
IOBUF PORT "PWM_out[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[7]" SITE "PL10A" ;
IOBUF PORT "DIR_out[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[7]" SITE "PR18A" ;
IOBUF PORT "PWM[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[7]" SITE "PB27B" ;
IOBUF PORT "DIR[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 8
LOCATE COMP "PWM_out[8]" SITE "PR8A" ;
IOBUF PORT "PWM_out[8]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[8]" SITE "PL9B" ;
IOBUF PORT "DIR_out[8]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[8]" SITE "PR13B" ;
IOBUF PORT "PWM[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[8]" SITE "PB29A" ;
IOBUF PORT "DIR[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 9
LOCATE COMP "PWM_out[9]" SITE "PL8A" ;
IOBUF PORT "PWM_out[9]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[9]" SITE "PL8B" ;
IOBUF PORT "DIR_out[9]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[9]" SITE "PR14A" ;
IOBUF PORT "PWM[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[9]" SITE "PB29B" ;
IOBUF PORT "DIR[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 10
LOCATE COMP "PWM_out[10]" SITE "PL7B" ;
IOBUF PORT "PWM_out[10]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[10]" SITE "PL7A" ;
IOBUF PORT "DIR_out[10]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[10]" SITE "PR14B" ;
IOBUF PORT "PWM[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[10]" SITE "PB30A" ;
IOBUF PORT "DIR[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 11
LOCATE COMP "PWM_out[11]" SITE "PL6A" ;
IOBUF PORT "PWM_out[11]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[11]" SITE "PL6B" ;
IOBUF PORT "DIR_out[11]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[11]" SITE "PR15A" ;
IOBUF PORT "PWM[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[11]" SITE "PB30B" ;
IOBUF PORT "DIR[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 12
LOCATE COMP "PWM_out[12]" SITE "PL3A" ;
IOBUF PORT "PWM_out[12]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[12]" SITE "PT9A" ;
IOBUF PORT "DIR_out[12]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[12]" SITE "PB9A" ;
IOBUF PORT "PWM[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[12]" SITE "PR18B" ;
IOBUF PORT "DIR[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 13
LOCATE COMP "PWM_out[13]" SITE "PT10A" ;
IOBUF PORT "PWM_out[13]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[13]" SITE "PT9B" ;
IOBUF PORT "DIR_out[13]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[13]" SITE "PB7B" ;
IOBUF PORT "PWM[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[13]" SITE "PR19A" ;
IOBUF PORT "DIR[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 14
LOCATE COMP "PWM_out[14]" SITE "PR5A" ;
IOBUF PORT "PWM_out[14]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[14]" SITE "PR4C" ;
IOBUF PORT "DIR_out[14]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[14]" SITE "PB7A" ;
IOBUF PORT "PWM[14]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[14]" SITE "PR19B" ;
IOBUF PORT "DIR[14]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Channel 15
LOCATE COMP "PWM_out[15]" SITE "PR3A" ;
IOBUF PORT "PWM_out[15]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "DIR_out[15]" SITE "PR3B" ;
IOBUF PORT "DIR_out[15]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;

LOCATE COMP "PWM[15]" SITE "PB4B" ;
IOBUF PORT "PWM[15]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "DIR[15]" SITE "PB15A" ;
IOBUF PORT "DIR[15]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Potentiometer limits
# Channel_1
LOCATE COMP "POT_IN[0]" SITE "PR10A" ;
IOBUF PORT "POT_IN[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_2
LOCATE COMP "POT_IN[1]" SITE "PR9B" ;
IOBUF PORT "POT_IN[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_3
LOCATE COMP "POT_IN[2]" SITE "PL18D" ;
IOBUF PORT "POT_IN[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_4
LOCATE COMP "POT_IN[3]" SITE "PL17B" ;
IOBUF PORT "POT_IN[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_5
LOCATE COMP "POT_IN[4]" SITE "PL14A" ;
IOBUF PORT "POT_IN[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_6
LOCATE COMP "POT_IN[5]" SITE "PL13B" ;
IOBUF PORT "POT_IN[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_7
LOCATE COMP "POT_IN[6]" SITE "PR9A" ;
IOBUF PORT "POT_IN[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_8
LOCATE COMP "POT_IN[7]" SITE "PL10B" ;
IOBUF PORT "POT_IN[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_9
LOCATE COMP "POT_IN[8]" SITE "PR6B" ;
IOBUF PORT "POT_IN[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_10
LOCATE COMP "POT_IN[9]" SITE "PL9A" ;
IOBUF PORT "POT_IN[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_11
LOCATE COMP "POT_IN[10]" SITE "PL4B" ;
IOBUF PORT "POT_IN[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_12
LOCATE COMP "POT_IN[11]" SITE "PL3B" ;
IOBUF PORT "POT_IN[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_13
LOCATE COMP "POT_IN[12]" SITE "PR6A" ;
IOBUF PORT "POT_IN[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_14
LOCATE COMP "POT_IN[13]" SITE "PR5B" ;
IOBUF PORT "POT_IN[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_15
LOCATE COMP "POT_IN[14]" SITE "PR2B" ;
IOBUF PORT "POT_IN[14]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
# Channel_16
LOCATE COMP "POT_IN[15]" SITE "PR2A" ;
IOBUF PORT "POT_IN[15]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# Potentiometer output
# Channels 1-4
LOCATE COMP "POT_OUT[0]" SITE "PB4A" ;
IOBUF PORT "POT_OUT[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;
# Channels 5-8
LOCATE COMP "POT_OUT[1]" SITE "PB9B" ;
IOBUF PORT "POT_OUT[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;
# Channels 9-12
LOCATE COMP "POT_OUT[2]" SITE "PB3B" ;
IOBUF PORT "POT_OUT[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;
# Channels 13-16
LOCATE COMP "POT_OUT[3]" SITE "PB3A" ;
IOBUF PORT "POT_OUT[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;




