BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "PWM_out" SITE "PR10D" ;
IOBUF PORT "PWM_out" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;
LOCATE COMP "DIR_out" SITE "PR13A" ;
IOBUF PORT "DIR_out" IO_TYPE=LVCMOS33 SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;
LOCATE COMP "PWM" SITE "PB20B" ;
IOBUF PORT "PWM" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "DIR" SITE "PB15B" ;
IOBUF PORT "DIR" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
